<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<appSettings>

		<!--MYINFO ENV-->
		<add key="MyInfoPrivateCertificateFilename" value="Resources\certs\sandbox-demoapp.pfx" />
		<add key="MyInfoPrivateCertificatePassword" value="MyInfo2o15" />
		<add key="MyInfoPublicCertificateFilename"  value="Resources\certs\consent.myinfo.gov.sg.staging.public.cer" />
		<add key="MyInfoClientAppId"				value="STG2-MYINFO-SELF-TEST" />
		<add key="MyInfoClientAppPassword"			value="44d953c796cccebcec9bdc826852857ab412fbe2" />
		<add key="MyInfoAttributeCsv"				value="uinfin,name,sex,race,nationality,dob,email,mobileno,regadd,housingtype,hdbtype,marital,edulevel,noa-basic,ownerprivate,cpfcontributions,cpfbalances" />
		<add key="MyInfoEnvironment"				value="SANDBOX" />
		<add key="MyInfoAuthoriseUrl"				value="https://sandbox.api.myinfo.gov.sg/com/v3/authorise" />
		<add key="MyInfoTokenUrl"					value="https://sandbox.api.myinfo.gov.sg/com/v3/token" />
		<add key="MyInfoPersonUrl"					value="https://sandbox.api.myinfo.gov.sg/com/v3/person" />
		<add key="MyInfoPurpose"					value="fill this with useful info for the user" />
		
	</appSettings>
</configuration>