<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<appSettings>

		<!--MYINFO ENV-->

		<add key="SandboxPrivateKeyFilename" value="Resources\certs\sandbox-demoapp.pfx" />
		<add key="SandboxPrivateKeyPassword" value="MyInfo2o15" />
		<add key="SandboxPublicCertificateFilename"  value="Resources\certs\consent.myinfo.gov.sg.staging.public.cer" />
		<add key="SandboxClientId"					value="STG2-MYINFO-SELF-TEST" />
		<add key="SandboxClientSecret"			value="44d953c796cccebcec9bdc826852857ab412fbe2" />
		<add key="SandboxAttributeCsv"				value="uinfin,name,sex,race,nationality,dob,email,mobileno,regadd,housingtype,hdbtype,marital,edulevel,noa-basic,ownerprivate,cpfcontributions,cpfbalances" />
		<add key="SandboxEnvironment"				value="SANDBOX" />
		<add key="SandboxAuthoriseUrl"				value="https://sandbox.api.myinfo.gov.sg/com/v3/authorise" />
		<add key="SandboxTokenUrl"					value="https://sandbox.api.myinfo.gov.sg/com/v3/token" />
		<add key="SandboxPersonUrl"					value="https://sandbox.api.myinfo.gov.sg/com/v3/person" />
		<add key="SandboxPurpose"					value="fill this with useful info for the user" />
		
	</appSettings>
</configuration>