<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
	</configSections>
	<appSettings>

		<!--MYINFO ENV-->
		<add key="SandboxPrivateCertificateFilename" value="Resources\certs\sandbox-demoapp.pfx" />
		<add key="SandboxPrivateCertificatePassword" value="MyInfo2o15" />
		<add key="SandboxPublicCertificateFilename"  value="Resources\certs\consent.myinfo.gov.sg.staging.public.cer" />
		<add key="SandboxClientAppId"				value="STG2-MYINFO-SELF-TEST" />
		<add key="SandboxClientAppPassword"			value="44d953c796cccebcec9bdc826852857ab412fbe2" />
		<add key="SandboxAttributeCsv"				value="uinfin,name,sex,race,nationality,dob,email,mobileno,regadd,housingtype,hdbtype,marital,edulevel,noa-basic,ownerprivate,cpfcontributions,cpfbalances" />
		<add key="SandboxEnvironment"				value="SANDBOX" />
		<add key="SandboxAuthoriseUrl"				value="https://sandbox.api.myinfo.gov.sg/com/v3/authorise" />
		<add key="SandboxTokenUrl"					value="https://sandbox.api.myinfo.gov.sg/com/v3/token" />
		<add key="SandboxPersonUrl"					value="https://sandbox.api.myinfo.gov.sg/com/v3/person" />
		<add key="SandboxPurpose"					value="fill this with useful info for the user" />

	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>

	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
		<variable name="Layout" value="${longdate}|${level:upperCase=true}|t${threadid}| ${message} ${exception:format=tostring,data,message,stacktrace}|${event-properties:item=ir-objects}" />

		<targets async="true">

			<target xsi:type="ColoredConsole" name="consoleTarget" layout="${Layout}" />
		</targets>

		<rules>
			<logger name="*" minlevel="Info" writeTo="consoleTarget" />
		</rules>
	</nlog>
</configuration>