<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>

  <appSettings>
    <!--SELECT the environment to be connected to i.e. SANDBOX, TEST or PROD-->
    <add key="Environment" value="SANDBOX"/>

    <!--Keystore configuration-->
    <add key="PrivateKeyFilename" value="stg_myinfo_key.p12" />
    <add key="PrivateKeyPassword" value="MyInfo2o15" />
    <add key="PublicCertificateFilename" value="pemfile.pem" />   

    <!--Client id provided during onboarding-->
    <add key="ClientId" value="STG2-MYINFO-SELF-TEST" />

    <!--Client secret provided during onboarding-->
    <add key="ClientSecret" value="44d953c796cccebcec9bdc826852857ab412fbe2" />

    <!--Requested attributes-->
    <add key="AttributeCsv" value="uinfin,name,sex,race,nationality,dob,email,mobileno,regadd,housingtype,hdbtype,marital,edulevel,noa-basic,ownerprivate,cpfcontributions,cpfbalances" />

    <!--SANDBOX URL-->
    <add key="AuthoriseUrl" value="https://sandbox.api.myinfo.gov.sg/com/v3/authorise" />
    <add key="TokenUrl" value="https://sandbox.api.myinfo.gov.sg/com/v3/token" />
    <add key="PersonUrl" value="https://sandbox.api.myinfo.gov.sg/com/v3/person" />

    <!--Purpose text to display to user when getting consent-->
    <add key="Purpose" value="meaningful purpose" />

  </appSettings>
</configuration>