<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>

  <appSettings>
    <!--Keystore configuration-->
    <add key="KEYSTORE" value="stg_myinfo_key.p12" />
    <add key="KEYSTORE_PASSPHRASE" value="MyInfo2o15" />
    <add key="KEYSTORE_PUBLIC" value="stg_auth_key.p12" />
    <add key="KEYSTORE_PASSPHRASE_PUBLIC" value="MyInfo2o15" />

    <!--SELECT the environment to be connected to i.e. SANDBOX, TEST or PROD-->
    <add key="ENVIRONMENT" value="SANDBOX"/>

    <!--Client id provided during onboarding-->
    <add key="CLIENT_ID" value="STG2-MYINFO-SELF-TEST" />

    <!--Client secret provided during onboarding-->
    <add key="CLIENT_SECRET" value="44d953c796cccebcec9bdc826852857ab412fbe2" />

    <!--Redirect URL for web application-->
    <add key="REDIRECT_URL" value="http://localhost:3001/callback" />

    <!--Requested attributes-->
    <add key="ATTRIBUTES" value="uinfin,name,sex,race,nationality,dob,email,mobileno,regadd,housingtype,hdbtype,marital,edulevel,noa-basic,ownerprivate,cpfcontributions,cpfbalances" />

    <!--SANDBOX URL-->
    <add key="TOKEN_URL" value="https://sandbox.api.myinfo.gov.sg/com/v3/token" />
    <add key="PERSON_URL" value="https://sandbox.api.myinfo.gov.sg/com/v3/person" />

    <!--Configure your proxy url here, if any.-->
    <add key="PROXY_TOKEN_URL" value="" />
    <add key="PROXY_PERSON_URL" value="" />

    <!--Indicate whether proxy url is used. i.e. Y or N-->
    <add key="USE_PROXY" value="N" />

  </appSettings>
</configuration>