<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>

  <appSettings>
    <!--Keystore configuration-->
    <add key="CLIENT_SECURE_CERT" value="stg_myinfo_key.p12" />
    <add key="CLIENT_SECURE_CERT_PASSPHRASEE" value="MyInfo2o15" />
    <add key="MYINFO_SIGNATURE_CERT_PUBLIC_CERT" value="pemfile.pem" />    

    <!--SELECT the environment to be connected to i.e. SANDBOX, TEST or PROD-->
    <add key="ENVIRONMENT" value="Test"/>

    <!--Client id provided during onboarding-->
    <add key="CLIENT_ID" value="STG2-MYINFO-SELF-TEST" />

    <!--Client secret provided during onboarding-->
    <add key="CLIENT_SECRET" value="44d953c796cccebcec9bdc826852857ab412fbe2" />

    <!--Redirect URL for web application-->
    <add key="REDIRECT_URL" value="http://localhost:3001/callback" />

    <!--Requested attributes-->
    <add key="ATTRIBUTES" value="uinfin,name,sex,race,nationality,dob,email,mobileno,regadd,housingtype,hdbtype,marital,edulevel,noa-basic,ownerprivate,cpfcontributions,cpfbalances" />

    <!--TEST URL-->
    <add key="TOKEN_URL" value="https://test.api.myinfo.gov.sg/com/v3/token" />
    <add key="PERSON_URL" value="https://test.api.myinfo.gov.sg/com/v3/person" />


  </appSettings>
</configuration>